<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="hangman icon" href="img/hangman.png" />
    <title>Hangman</title>
  </head>
  <body class="index">
    <h1>Choose your difficulty</h1>

    <div class="choices">
      <a href="/easy">Easy</a>
      <a href="/normal">Normal</a>
      <a href="/hard">Hard</a>
    </div>

  </body>
</html>
