<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Winners</title>
  </head>
  <body>
    <h1>These are the winners!</h1>

    {{#existingAvatars}}
      {{.}}
    {{/existingAvatars}}

  </body>
</html>
